* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

div {
    padding-top: 1rem;
    text-align: center;
}

a{
    padding: 3rem;
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 34px);
}

h1{
    text-align: center;
}